*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: grey;
    color: black;
}
body h1{
    text-align: center;
    font-size: 60px;
    padding-top: 10px;
    font-weight: bold;
}
.cont{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
.container{
    background-color: black;
    border: 2px solid transparent;
    height: 300px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
    padding: 70px 50px;
    color: white;
}
.cf{
    width: 45%;
    margin-right: auto;
}
input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid white;
}